<html>
    <head>
        <title>Template mob</title>
        <script src="scripts/gunnerDefaults.js">
            </script>
        <script>
            window.onload = launch("beta")
            </script>
    </head>
    <!--Refers back to the css page-->
    <link rel="stylesheet" type="text/css" href="mobile.css"</link>
        
        <!--Selects png file to be used as the iPhone icon when set as a bookmark-->
        <link rel="apple-touch-icon" href="../resources/iphone-icons/iphone-icon.png"/>
        
        <!--Makes page fullscreen when added as a bookmark to homescreen on iOS-->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        
        
        <body>
            
            <div id="title" align = "center">Mobile Template</div>
            
            <div id="noscript_error"><noscript>Javascript appears to be disabled. Please enable it, as none of these links will work without it!</noscript></div>

            
            <div style = "text-align:center">
                
                <p class="text">
                Text goes here
                </p>
                
                <br>
                
                <a href="mobileTemplate.html">Hyperlink</a>
                
                <br><br>
                
                <img src="../resources/bgimage.jpg" alt="image" style="width:51.84vw;height:34.56vw";>
                
            </div>
            
        </body>
        <script>
            var number = 1
            </script>
        
        <br>
        <body>
            <p>
            <div class="text_footer" style = "text-align:center"> &copy; Sebastian Gunner 2017 </div>
            <br>
        </body>
</html>
