<html>
    <head>
        <title>Gunner Intranet | Template</title>
        <!--Selects CSS file depending on screen width of the user-->
        <script src="scripts/gunnerDefaults.js">
            </script>
        <script>
            window.onload = launch("standard")
            </script>
    </head>
    <script src="scripts/menuBar/menuBarInternal.js">
        </script>
        
        <!--Selects png file to be used as the iPhone icon when set as a bookmark-->
        <link rel="apple-touch-icon" href="../resources/iphone-icons/iphone-icon.png"/>
        
        <!--Makes page fullscreen when added as a bookmark to homescreen on iOS-->
        <meta name="apple-mobile-web-app-capable" content="no" />
        
        
        <body>
            <div class="pageText">
            
            <div id="title">Responsive Template</div>
            
            <div id="noscript_error"><noscript>Javascript appears to be disabled. Please enable it, as none of these links will work without it!</noscript></div>

            
            <div class="mainContent">
                
                <p class="text">
                Text goes here
                </p>
                
                <a href="responsiveTemplate.html">Hyperlink</a>
                
                <br><br>
                
                <img src="resources/bgimage.jpg" alt="image" style="width:51.84vw;height:34.56vw";>
                
            </div>
            
        </body>
        <script>
            var number = 1
            </script>
        
        <br>
        <body>
            <p>
            <div class="text_footer"> &copy; Sebastian Gunner 2017 </div>
            <br>
            </div>
        </body>
</html>
